.page {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666;
    margin-bottom: 10px;
     
    width: 2480px;
    background-color: #fff;
}

.page .header {
    height: 770px;
    width: 100%;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.page .header .header-top {
    height: 320px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.page .header .header-top .logo {
    padding-left: 10px;
    padding-top: 20px;
    margin-left: 30px;
    width: 320px;
    height: 320px;
}

.page .header .header-top .logo img {
    float: left;
    width: 300px;
    height: 300px;
}

.page .header .header-top .header-top-right {
    width: 1570px;
    height: 320px;
    font-size: 5em;
    margin-right: 300px;
}

.page .header .header-bottom {
    height: 450px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.page .header .header-bottom .header-info {
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
}

.page .header .header-bottom .header-info .header-info-item {
    width: 580px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 3em;
}

.page .table-container {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.page .table-container .title {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 3em;
}

.page .table-container table {
    width: 90%;
    height: 100px;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ccc;
    font-size: 2.5em;
    margin-left: 5%;
}

.page .table-container table th {
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
    width: 10%;
}

.page .table-container table .thin{
    width: 7.5%;
}

.page .table-container table .wide{
    width: 15%;
}

.page .table-container table td {
    height: 100px;
    border: 1px solid #ccc;
    text-align: center;
}

.page .table-container table tbody div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: -webkit-fill-available;
    height: -moz-available;
}

.page .table-container table tbody div .div-item{
    justify-self: baseline;
}

.page .comment-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 60px;
    padding-left: 5%;
    
}

.page .comment-container .title {
    height: 100px;
    font-size: 4em;
    padding-left: 10%;
}

.page .comment-container .comment {
    height: 350px;
    width: 90%;
    border: 1px solid #000;
    font-size: 3.5em;
    padding-left: 20px;
    padding-top: 10px;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
}


/*****************************************************************/
/*                        DOWNLOAD BUTTON                        */
/*****************************************************************/

#download-pdf-btn:hover {
    transition: all .1s ease;
    color: var(--text-color);
    background: var(--accent-color);
    box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}
  
  @media (min-width: 62.5rem) {
    #download-pdf-btn {
      display: flex;
      justify-content: center;
      outline: none;
      cursor: pointer;
      font-weight: 500;
      border-radius: 0.5rem;
      border: 0;
      color: #fff;
      background: var(--secondary-color);
      line-height: 1.15;
      font-size: 1.1rem;
      margin: 1.5rem auto 1.5rem auto;
    }
  }
