@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd1ak.ttf) format('truetype');
}

:root {
  --bg-color: #B3EAF6;
  --text-color: #1C0B19;
  --main-color: #307EEE;
  --secondary-color: #140D4F;
  --accent-color: #F3DE8A;
}

a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #231F20;
    justify-content: center;
    
}

body {
  width:100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Catamaran', sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  /*background-image: url("../img/test.png");*/
}


/**************************************************************************/
/*                       RETURN HOMEPAGE BUTTONS                          */
/**************************************************************************/

.div-return-home {
  width:3vw;
  height:3vw;
  background-image: url("../img/Bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 90vh;
  left: 96vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 570px) {
  .div-return-home a {
    font-size: 1rem;
  }

  .div-return-home {
    width: 7vw;
    height: 7vw;
    top: 90vh;
    left: 92vw;
    position: fixed;
  }
}

@media (min-width: 570px) {
  .div-return-home a {
    font-size: 1.2rem;
  }

  .div-return-home {
    width: 7vw;
    height: 7vw;
    top: 90vh;
    left: 92vw;
  }
}

@media (min-width: 820px) {
  .div-return-home a {
    font-size: 1.5rem;
  }

  .div-return-home {
    width: 7vw;
    height: 7vw;
    top: 90vh;
    left: 92vw;
  }
}

@media (min-width: 62.5rem) {
  .div-return-home a {
    font-size: 1.4rem;
  }

  .div-return-home {
    width: 4vw;
    height: 4vw;
    top: 85vh;
    left: 92vw;
  }
}

.div-return-home:hover {
  cursor: pointer;
}


/**********************************************************************/
/*                       CONTAINERS HOMEPAGE                          */
/**********************************************************************/

.home-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 36vh;
  background-color: var(--bg-color);
  margin-bottom: 2vh;
}

.home-list-container > div {
  background-image: url("../img/Bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: var(--text-color);
  text-align: center;
  letter-spacing: 0.1vw;
  margin: 1vw;
}

@media (min-width: 1599px) {
  .home-list-container {
    padding-top: 36vh;
  }

  .home-list-container > div {
    width:18rem;
    height:18rem;
    font-size: 1.8rem;
    font-weight: 600;
  }
}

@media (max-width: 1599px) {
  .home-list-container {
    padding-top: 25vh;
  }
  .home-list-container > div {
    width:17rem;
    height:17rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
}

@media (max-width: 1253px) {
  .home-list-container {
    padding-top: 19vh;
  }

  .home-list-container > div {
    width:15rem;
    height:15rem;
    font-size: 1.2rem;
    font-weight: 450;
  }
}

@media (max-width: 1024px) {
  .home-list-container {
    padding-top: 16vh;
  }

  .home-list-container > div {
    width:13rem;
    height:13rem;
    font-size: 0.9rem;
    font-weight: 400;
  }
}

@media (max-width: 672px) {
  .home-list-container {
    padding-top: 15vh;
  }

  .home-list-container > div {
    width:10rem;
    height:10rem;
    font-size: 0.8rem;
    font-weight: 400;
  }
}


/******************************************************************/
/*                          SCROLLBAR                             */
/******************************************************************/

/* width */
::-webkit-scrollbar {
  width: 0;
}


/*******************************************************************/
/*                       MODALS - GENERAL                          */
/*******************************************************************/

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}


/*****************************************************************/
/*                          CALENDAR                             */
/*****************************************************************/

#calendar {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 4%;
}

.calendar-parent {
  height: 100vh;
}

.fc-event {
  border-width: 3px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border-style: solid;
  border-radius: 1vh;
  border-width: 0.5vh;
}

.fc {
  background-color: lightcyan;
}

.fc-col-header {
  background-color: var(--main-color);
}


/********************************************************************/
/*                       LOADING ANIMATION                          */
/********************************************************************/

.ring
{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:15vw;
  height:15vw;
  background:transparent;
  border:3px solid transparent;
  border-radius:50%;
  text-align:center;
  line-height:15vw;
  font-family:sans-serif;
  font-size:1.5vw;
  color: black;
  letter-spacing:0.3vw;
  text-transform:uppercase;
  text-shadow:0 0 0.75vw black;
  box-shadow:0 0 1.5vw rgba(0,0,0,.5);
  backdrop-filter: blur(50px); /* Adjust the blur radius as desired */
  z-index: 999;
}
.ring:before
{
  content:'';
  position:fixed;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid black;
  border-right:3px solid black;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.span-ring
{
  display:block;
  position:fixed;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.span-ring:before
{
  content:'';
  position:fixed;
  width:16px;
  height:16px;
  border-radius:50%;
  background:black;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px black;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}


/*************************************************************/
/*                          WAVES                            */
/*************************************************************/

.waves {
  position: fixed;
  width: 100%;
  height: 15vh;
  bottom: 0;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
  /*background-color: var(--bg-color);*/
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color: #140D4F !important;
}

.bg-light {
  background-color: #71C0D8 !important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: #307EEE !important
}
