@font-face {
    font-family: 'Catamaran';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/catamaran/v17/o-0bIpQoyXQa2RxT7-5B6Ryxs2E_6n1iPHjd1ak.ttf) format('truetype');
}

:root {
  --bg-color: #B3EAF6;
  --text-color: #1C0B19;
  --main-color: #307EEE;
  --secondary-color: #140D4F;
  --accent-color: #F3DE8A;
}

a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #231F20;
    justify-content: center;
    
}

body {
  width:100%;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Catamaran', sans-serif;
  font-size: 2.5vh;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  /*background-image: url("../img/test.png");*/
}

/* --------_ Bouton retour page d'accueil _-------- */

.div-return-home {
  width:3vw;
  height:3vw;
  background-image: url("../img/Bubble.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  top: 90vh;
  left: 96vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-return-home:hover {
  cursor: pointer;
}

/* --------_ Containers Homepage _-------- */

.home-list-container {
  width  : 100vw;
  background : var(--bg-color);
  display: flex;
  flex-direction: column;
  padding-top: 13vh;
}

.home-list-container .home-list-item {
  width: 50vw;
  height: 20vh;
  background-color: var(--main-color);
  margin: 2vh 0 2vh 0;
  align-self: center;
  display: flex;
  flex-direction: row;
  border-radius: 2vw;
}

/* ancien accueil */

/*.home-list-container .reversed {
    flex-direction: row-reverse;
}

.home-list-container .reversed img{
    border-radius: 0 2vw 2vw 0;
}

.home-list-item img{
    width: 20vh;
    height: 20vh;
    border-radius: 2vw 0 0 2vw;
}

.home-list-item p {
    padding: 0 2vw;
    align-self: center;
    color: var(--text-color);
    font-size: 3.5vh;
}

.home-list-item:hover {
  color: var(--text-color);
  text-decoration: underline;
  filter: brightness(0.9);
}*/

/* --------_ Scrollbar _-------- */

/* width */
::-webkit-scrollbar {
  width: 0;
}





#open-site-modal {
  position: fixed;
  left: 90vw;
  top: 20vh;
  width: 8vw;
  height: 2vw;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 2.5vh;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.1vw;
  
}

#open-site-modal:hover {
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}

/* --------_ Modal Planning _-------- */





/* --------_ Profile page _-------- */



/* Diver Page */





/* App User Page */





/* Planned_Dive Page */



/* --------_ Modals _-------- */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* --------_ Calendar _-------- */

#calendar {
  width: 100%;
  height: 100%;
  padding: 0;
  margin-bottom: 4%;
}

.calendar-parent {
  height: 100vh;
}

.fc-event {
  border-width: 3px;
  text-align: center;
  font-size: large;
  font-weight: bold;
  border-style: solid;
  border-radius: 1vh;
  border-width: 0.5vh;
}

.fc {
  background-color: lightcyan;
}

.fc-col-header {
  background-color: var(--main-color);
}


/* --------_ Loading animation _-------- */

.ring
{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:15vw;
  height:15vw;
  background:transparent;
  border:3px solid transparent;
  border-radius:50%;
  text-align:center;
  line-height:15vw;
  font-family:sans-serif;
  font-size:1.5vw;
  color: black;
  letter-spacing:0.3vw;
  text-transform:uppercase;
  text-shadow:0 0 0.75vw black;
  box-shadow:0 0 1.5vw rgba(0,0,0,.5);
  backdrop-filter: blur(50px); /* Adjust the blur radius as desired */
  z-index: 999;
}
.ring:before
{
  content:'';
  position:fixed;
  top:-3px;
  left:-3px;
  width:100%;
  height:100%;
  border:3px solid transparent;
  border-top:3px solid black;
  border-right:3px solid black;
  border-radius:50%;
  animation:animateC 2s linear infinite;
}
.span-ring
{
  display:block;
  position:fixed;
  top:calc(50% - 2px);
  left:50%;
  width:50%;
  height:4px;
  background:transparent;
  transform-origin:left;
  animation:animate 2s linear infinite;
}
.span-ring:before
{
  content:'';
  position:fixed;
  width:16px;
  height:16px;
  border-radius:50%;
  background:black;
  top:-6px;
  right:-8px;
  box-shadow:0 0 20px black;
}
@keyframes animateC
{
  0%
  {
    transform:rotate(0deg);
  }
  100%
  {
    transform:rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform:rotate(45deg);
  }
  100%
  {
    transform:rotate(405deg);
  }
}

/* Page D'accueil */

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  position: relative;
  z-index: 20;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); 
}
.ball:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  /*z-index: 2; */
}
.ball:after {
  content: "";
  position: absolute;
  display: none;
  top: 1%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  /*z-index: 2;*/
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg); 
}
.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-160px);
  transform: rotateX(90deg) translateZ(-160px);
  /*z-index: 1; */
}
.ball.plain {
  background: black; 
}
.ball.plain:before, .ball.plain:after {
  display: none; 
}
.ball.bubble {
  background: radial-gradient(circle at 50% 55%, rgba(255, 255, 255, 0.8), rgb(184, 212, 250) 40%, rgba(48,126,238,0.918) 60%, rgba(48,126,238,1));
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 3vw;
}
.ball.bubble:before {
  -webkit-filter: blur(0);
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
}
.ball.bubble:after {
  display: block;
  background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
}

.ball:hover {
  -webkit-animation: bubble-anim 1s infinite;
  animation: bubble-anim 1s infinite;
  color: var(--secondary-color);
}
.stage:hover {
  -webkit-animation: bubble-anim 1s infinite;
  animation: bubble-anim 1s infinite;
}

.stage {
  width: 37.5vh;
  height: 37.5vh;
  display: inline-block;
  margin: 1.5vh;
  position: relative;
  -webkit-perspective: 150vh;
  -moz-perspective: 150vh;
  -ms-perspective: 150vh;
  -o-perspective: 150vh;
  perspective: 150vh;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } 
}
  
.bubble-text {
  position: absolute;
  /*z-index: 2;*/
  letter-spacing: 0.5vh;
  word-spacing: 1vh;
  color: #140D4F;
  font-weight: 1000;
  font-variant: small-caps;
  text-shadow: 0 0 10px #FFFFFF, 2px 2px 4px #307EEE;
}

#bubble-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-left: -4vh;
  padding: 0;
  padding-bottom: 20vh;
}

.bubble-item {
  display: flex;
  flex-direction: column;
  overflow: visible;
}

/*Waves*/

.waves {
  position: fixed;
  width: 100%;
  height: 15vh;
  bottom: 0;
  margin-bottom: -7px;
  /*Fix for safari gap*/
  min-height: 100px;
  max-height: 400px;
  /*background-color: var(--bg-color);*/
}

/* Animation */
.parallax>use {
  animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax>use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax>use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax>use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }
  100% {
    transform: translate3d(85px, 0, 0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height: 40px;
    min-height: 40px;
  }
  .content {
    height: 30vh;
  }
}

/*Other*/

.unique-color-dark {
  background-color: #140D4F !important;
}

.bg-light {
  background-color: #71C0D8 !important;
}

.navbar-brand {
  color: white;
}

.custom-color {
  background-color: #307EEE !important
}
