html,
body,
.full-screen {
	height: 100%;
}


body {
  margin: 0;
  font-size: 12px;
}

@media (min-width: 1350px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1540px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1730px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 2110px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 2300px) {
  body {
    font-size: 24px;
  }
}

.container-dive {
    width  : 100vw;
    height: 100vh;
    background : var(--bg-color);
    display: flex;
    flex-direction: row;
    padding-top: 13vh;
    justify-content: space-between;
}

.container-dive h1 {
    font-size: 3.5vh;
    margin: 0;
    padding-left: 1vw;
    padding-top: 1vh;
}

.container-dive .btn-gestion {
  width: 25vw;
  height: 3vh;
  margin-top: 0.5vh;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.dive-left {
    width: 55vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}

.dive-left .button-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    justify-content: space-between;
    margin-bottom: 1em;
}

.dive-left .button-container div{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dive-right {
    width: 45vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

.dive-right .container-inscrits {
    flex-direction: column;
    display: flex;
    align-items: center;
    position: fixed;
    width: 45vw;
    height: 87vh;
}

.dive-right #tableContainerInscrits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    overflow: auto;
}

.tableDiv {
  display: flex;
  flex-direction: row;
  margin-bottom : 2vh;
}

.btn-valider {
  height: min-content;
}

.TabSupprButton {
  width: 2vw;
  border: none;
  outline: none;
  cursor: pointer;  
}

.TabSupprButton:hover {
  color: red;
}

/* Tableau */

.blueTable {
    border: 0.1vh solid var(--text-color);
    background-color: rgb(229, 233, 245);
    width: 95%;
    text-align: left;
    border-collapse: collapse;
  }

  .blueTable input {
    width: 3.5em;
  }

  .blueTable .commentInput {
    width: 4.5em;
    resize: none;
    padding: 0;
    height: 1.7em;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
  }

  .blueTable .commentInput:focus {
    outline: none;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .blueTable td, table.blueTable th {
    border: 0.1vh solid #cfe0ee;
    padding: 0.3vh 0.2vh;
  }
  
  .blueTable tbody td {
    font-size: 0.9em;
    text-align: center;
    position: relative;
  }

  .blueTable tbody tr {
    height: 3.2em;
  }
  
  .blueTable tbody tr:nth-child(even) {
    background: #edf0f3;
  }
  
  .blueTable thead {
    text-align: center;
    background: var(--text-color);
    background: -moz-linear-gradient(top, #383274 0%, #241d61 66%, #140D4F 100%);
    background: -webkit-linear-gradient(top,#383274 0%, #241d61 66%, #140D4F 100%);
    background: linear-gradient(to bottom, #383274 0%, #241d61 66%, #140D4F 100%);
    border-bottom: 0.2vh solid #444444;
    font-size: 1em;
  }

  .blueTable thead .whiteTr {
    background: #edf0f3;
  }
  
  .blueTable thead th {
    font-weight: bold;
    color: #FFFFFF;
    border-left: 0.2vh solid #D0E4F5;
    min-width: 2em;
    position: relative;
  }
  
  .blueTable thead th:first-child {
    border-left: none;
  }

  .blueTable thead input[type="time"]{
    width: 5em;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 0.8vw;
  }

  .blueTable input[type="text"]{
    width: 5em;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 0.8vw;
  }

  .blueTable input[type="number"]{
    text-align: center;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 0.8vw;
  }
  
  .blueTable tfoot {
    font-size: 0.1vh;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 0.2vh solid #444444;
  }
  
  .blueTable tfoot td {
    font-size: 1.4vh;
  }
  
  .blueTable tfoot .links {
    text-align: right;
  }
  
  .blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 0.2vh 0.8vh;
    border-radius: 0.5vh;
  }

  /*
  .th1 {
    width: 3%;
  }
  
  .th2 {
    width: 12%;
  }
  
  .th3 {
    width: 12%;
  }
  
  .th4 {
    width: 9%;
  }
  
  .th5 {
    width: 7%;
  }
  
  .th6 {
    width: 10%;
  }
  
  .th7 {
    width: 15%;
  }
  
  .th8 {
    width: 8%;
  }
  
  .th9 {
    width: 8%;
  }
  
  .th10 {
    width: 8%;
  }
  
  .th11 {
    width: 8%;
  }
*/

/* Handle */

.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}

.selected td {
    border: 0.1vh double red !important;
}

/* Info */

.infoDivContainer{
  width: 15vw;
}

.infoDiv{
  display: flex;
  flex-direction: row;
  margin-left : 1vw;
}

.infoIcon{
  margin-top: 2vh;
  margin-right: 0.5vw;
}

.red {
  color: red;
}

.green {
  color: green;
}

.selectList{
  background-color: white;
  height: 2.5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 0.8vw;
}