.container-dive {
    width  : 100vw;
    background : var(--bg-color);
    display: flex;
    flex-direction: row;
    padding-top: 13vh;
    justify-content: space-between;
}

.container-dive h1 {
    font-size: 3.5vh;
    margin: 0;
    padding-left: 1vw;
    padding-top: 1vh;
}

.container-dive .btn-gestion {
  width: 15vw;
  height: 3vh;
  margin-left: 4vw;
  margin-top: 0.5vh;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.dive-left {
    width: 70vw;
    display: flex;
    flex-direction: column;
    padding: 1vw;
}



.dive-right {
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vw;
}

.dive-right .container-inscrits {
    flex-direction: column;
    display: flex;
    align-items: center;
}

.dive-right #tableContainerInscrits {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.tableDiv {
  display: flex;
  flex-direction: row;
  margin-bottom : 2vh;
  margin-left : 2vh;
}


/* Tableau */

.blueTable {
    border: 0.1vh solid #1C6EA4;
    background-color: #EEEEEE;
    width: 90%;
    text-align: left;
    border-collapse: collapse;
  }
  
  .blueTable td, table.blueTable th {
    border: 0.1vh solid #AAAAAA;
    padding: 0.3vh 0.2vh;
  }
  
  .blueTable tbody td {
    font-size: 2vh;
    text-align: center;
  }
  
  .blueTable tr:nth-child(even) {
    background: #D0E4F5;
  }
  
  .blueTable thead {
    position: sticky;
    text-align: center;
    background: #1C6EA4;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 0.2vh solid #444444;
    top: 13vh;
    z-index: 1;
  }
  
  .blueTable thead th {
    font-size: 1.5vh;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 0.2vh solid #D0E4F5;
  }
  
  .blueTable thead th:first-child {
    border-left: none;
  }
  
  .blueTable tfoot {
    font-size: 0.1vh;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 0.2vh solid #444444;
  }
  
  .blueTable tfoot td {
    font-size: 1.4vh;
  }
  
  .blueTable tfoot .links {
    text-align: right;
  }
  
  .blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 0.2vh 0.8vh;
    border-radius: 0.5vh;
  }
  
  .th1 {
    width: 3%;
  }
  
  .th2 {
    width: 12%;
  }
  
  .th3 {
    width: 12%;
  }
  
  .th4 {
    width: 9%;
  }
  
  .th5 {
    width: 7%;
  }
  
  .th6 {
    width: 10%;
  }
  
  .th7 {
    width: 15%;
  }
  
  .th8 {
    width: 8%;
  }
  
  .th9 {
    width: 8%;
  }
  
  .th10 {
    width: 8%;
  }
  
  .th11 {
    width: 8%;
  }


/* Handle */

.my-handle {
	cursor: move;
	cursor: -webkit-grabbing;
}

.selected td {
    border: 0.1vh double red !important;
}