.diver-list-container {
    width  : 100vw;
    background : var(--bg-color);
    display: flex;
    flex-direction: column;
    padding-top: 14vh;
    align-items: center;
}

#open-site-modal-diver {
    width: 12vw;
    height: 6vh;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2.5vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 0.75vw;
}
  
#open-site-modal-diver:hover {
    transition: all .1s ease;
    color: var(--text-color);
    background: var(--accent-color);
    box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}


.form-diver{
    width  : 70vw;
    height: 80vh;
    background : var(--bg-color);
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 15vw;
    border-radius: 3vw;
}

.form-diver .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding-left: 2vw;
}

.form-diver .title h1 {
  font-size: 3.5vh;
  margin-left: 2vw;
}

.form-diver .title span {
  font-size: 3.5vh;
  margin-right: 2.5vw;
}

.form-diver .title span:hover {
  cursor: pointer;
}


.form-diver .form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 70vw;
}

.form-diver .form-body .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 60vh;
  width: 30vw;
  margin-right: 2.5vw;
}

.form-diver .form-body .labels label {
  font-size: 2.5vh;
  height: 5vh;
  padding-top: 0.5vh;
}

.form-diver .form-body .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 30vw;
  margin: 0 2.5vw;
}

.form-diver .form-body .inputs input[type=text] {
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.form-diver .form-body .inputs input[type=file] {
  width: 25vw;
  height: 5vh;
  display: none;
}

.form-diver .form-body .inputs select{
  background-color: white;
  width: 25.3vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.form-diver .form-body .inputs #diver-image-button {
  width: 15vw;
  height: 4vh;
  margin-left: 4vw;
  margin-top: 0.5vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.form-diver .form-body .inputs #diver-image-button:hover {
  transition: all .1s ease;
  color: var(--accent-color);
  box-shadow: 0 0 0 0 var(--accent-color), 0 0 0 0.25vh var(--accent-color);
}


.form-diver .form-diver-validation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.form-diver .form-diver-validation #validate-diver {
  width: 25vw;
  height: 7vh;
  margin-left: 22.5vw;
  margin-top: 0.5vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.form-diver .form-diver-validation #validate-diver:hover{
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}


.form-diver .form-diver-validation #validate-diver {
  width: 25vw;
  height: 7vh;
  margin-left: 22.5vw;
  margin-top: 0.5vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.form-diver .form-diver-validation #validate-diver:hover {
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}