/******************************************************************/
/*                         GENERAL                                */
/******************************************************************/

body {
  margin: 0;
  font-size: 12px;
}

@media (min-width: 280px) {
  body {
    font-size: 5px;
  }
}

@media (min-width: 400px) {
  body {
    font-size: 6px;
  }
}

@media (min-width: 590px) {
  body {
    font-size: 7px;
  }
}

@media (min-width: 780px) {
  body {
    font-size: 8px;
  }
}

@media (min-width: 970px) {
  body {
    font-size: 10px;
  }
}

@media (min-width: 1160px) {
  body {
    font-size: 12px;
  }
}

@media (min-width: 1350px) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1540px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1730px) {
  body {
    font-size: 18px;
  }
}

@media (min-width: 1920px) {
  body {
    font-size: 20px;
  }
}

@media (min-width: 2110px) {
  body {
    font-size: 22px;
  }
}

@media (min-width: 2300px) {
  body {
    font-size: 24px;
  }
}


/********************************************************************/
/*                       CONTAINER GÉNÉRAL                          */
/********************************************************************/

.planned-dive-list-container{
    width  : 100vw;
    background : var(--bg-color);
    align-items: center;
}

.div-title {
  display: flex;
  flex-direction: row;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    /*padding-top: 14vh;*/
}

@media (max-width: 62.5rem) {
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    justify-content: center;
  }
}

.cards_item {
  display: flex;
  padding: 1rem;
  margin-top: 2%;
  min-height: 310px;
  flex-wrap: wrap;
}

@media (min-width: 21.563rem) {
  .div-title {
    max-width: 200px;
  }  
}

@media (min-width: 28.125rem) {
  .cards_item {
    min-width: 350px;
  }
}

@media (min-width: 34.375rem) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

@media (min-width: 62.5rem) {
  .cards_item {
    margin-left: 5%;
  }
}

.card {
  background-color: var(--main-color);
  border-radius: 2vw;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  min-width: 25%;
  min-height: 20vh;
}

@media (max-width: 47.75rem){
  .card {
    min-height: 250px;
  }
}

@media (min-width: 47.75rem) {
  .card {
    min-height: 295px;
  }
}

@media (min-width: 80rem) {
  .card {
    min-height: 280px;
  }
}

.card_content {
  background: linear-gradient(to bottom left, #EF8D9C 40%, #FFC39E 100%);
}

@media (max-width: 62.5rem){
  .card_title {
    color: var(--text-color);
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
  }
}

@media (min-width: 62.5rem) {
  .card_title {
    color: var(--text-color);
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 0px;
  }
}

.card_text {
  color: var(--text-color);
  font-size: 0.875rem;
  line-height: 1.5; 
  font-weight: 400;
}

.card_date {
  text-align: right;
  width: 9vw;
}

.div_haut{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 3vh 1.5vh 3vh;
  border-radius: 2vw;
  box-shadow: rgba(0, 0, 0, 0.08) 0 0.3vh 0.5vh;
}

.top-degrade {
  background: linear-gradient(180deg, rgb(48, 32, 185) 0%, rgba(48,126,238,1) 100%);
}

.div_milieuTop{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5vh 3vh 1.5vh 3vh;
}

.div_milieuBot{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vh 0 3vh;
}

.div_bas{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 3vh 0 3vh;
}

.div_bas button {
  width: 10vw;
  height: 3vh;
  margin-left: 4vw;
  margin-top: 0.5vh;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.div-milieu {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

@media (max-width: 62.5rem) {
  .div_bas button {
    width: auto;
    height: 5vw;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 1vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 0.8rem;
  }
}

@media (min-width: 62.5rem) {
  #open-planned-dive-planning {
    position: fixed;
    top: 40vh;
    left: 88vw;
    width: 11vw;
    height: 7vh;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 1.5vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 1.2rem;
  }
}

@media (max-width: 62.5rem) {
  .div-buttons-planned-dive {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 15vh;
  }

  #open-planned-dive-planning {
    width: auto;
    height: 5vw;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 1.5vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 0.8rem;
  }
}

#open-planned-dive-planning:hover {
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}

@media (min-width: 62.5rem) {
  #open-planned-dive-form {
    position: fixed;
    top: 25vh;
    left: 88vw;
    width: 11vw;
    height: 7vh;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 500;
    border-radius: 1.5vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 1.1rem;
  }
}

@media (max-width: 62.5rem) {
  #open-planned-dive-form {
    width: auto;
    height: 5vw;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 1.5vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 0.8rem;
  }
}

#open-planned-dive-form:hover {
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}


/**********************************************************************/
/*                  MODAL CHANGE PLANNED DIVE                         */
/**********************************************************************/

.form-planned-dive{
  width : 60vw;
  height: 80vh;
  background : var(--bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 15vh;
  margin-left: 20vw;
  border-radius: 3vw;
}

.form-planned-dive .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding-left: 2vw;
}

.form-planned-dive .title h1 {
  font-size: 3.5vh;
  margin-left: 2vw;
}

@media (max-width: 790px){
  .form-planned-dive .title h1 {
    font-size: 1.2rem;
  }
}

.form-planned-dive .title span {
  font-size: 3.5vh;
  margin-right: 2.5vw;
}

.form-planned-dive .title span:hover {
  cursor: pointer;
}

.form-planned-dive .form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 70vw;
}

.form-planned-dive .form-body .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  width: 22vw;
  margin-right: 2.5vw;
}

.form-planned-dive .form-body .labels label {
  height: 5vh;
  padding-top: 0.5vh;
  text-align: right;
}

@media (max-width: 340px){
  .form-planned-dive .form-body .labels label {
    font-size: 1.2vh;
  }
}

@media (min-width: 340px){
  .form-planned-dive .form-body .labels label {
    font-size: 1.7vh;
  }
}

@media (min-width: 675px){
  .form-planned-dive .form-body .labels label {
    font-size: 2vh;
  }
}

@media (min-width: 966px){
  .form-planned-dive .form-body .labels label {
    font-size: 2.5vh;
  }
}

.form-planned-dive .form-body .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 60vh;
  width: 40vw;
  margin: 0 2.5vw;
}

.form-planned-dive .form-body .inputs input[type=text] {
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
  margin-bottom: 0.75vh;
}

@media (max-width: 340px){
  .form-planned-dive .form-body .inputs input[type=text] {
      font-size: 1vh;
      height: 2vh;
    }
  }
  
@media (min-width: 340px){
.form-planned-dive .form-body .inputs input[type=text] {
    font-size: 1.5vh;
    height: 3vh;
  }
}

@media (min-width: 675px){
.form-planned-dive .form-body .inputs input[type=text] {
    font-size: 1.8vh;
  }
}

@media (min-width: 966px){
.form-planned-dive .form-body .inputs input[type=text] {
    font-size: 2.2vh;
  }
}

.form-planned-dive .form-body .inputs input[type="date"]{
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  margin-bottom: 0.75vh;
}

@media (max-width: 340px){
  .form-planned-dive .form-body .inputs input[type="date"] {
      font-size: 1vh;
      height: 2vh;
    }
  }
  
@media (min-width: 340px){
.form-planned-dive .form-body .inputs input[type="date"] {
    font-size: 1.5vh;
    height: 3vh;
  }
}

@media (min-width: 675px){
.form-planned-dive .form-body .inputs input[type="date"] {
    font-size: 1.8vh;
  }
}

@media (min-width: 966px){
.form-planned-dive .form-body .inputs input[type="date"] {
    font-size: 2.2vh;
  }
}

.form-planned-dive .form-body .inputs input[type="time"]{
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  margin-bottom: 0.75vh;
}

@media (max-width: 340px){
  .form-planned-dive .form-body .inputs input[type="time"] {
      font-size: 1vh;
      height: 2vh;
    }
  }
  
@media (min-width: 340px){
.form-planned-dive .form-body .inputs input[type="time"] {
    font-size: 1.5vh;
    height: 3vh;
  }
}

@media (min-width: 675px){
.form-planned-dive .form-body .inputs input[type="time"] {
    font-size: 1.8vh;
  }
}

@media (min-width: 966px){
.form-planned-dive .form-body .inputs input[type="time"] {
    font-size: 2.2vh;
  }
}

.form-planned-dive .form-body .inputs select{
  background-color: white;
  width: 25.3vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
}

@media (max-width: 340px){
  .form-planned-dive .form-body .inputs select {
      font-size: 1vh;
      height: 2vh;
    }
  }
  
@media (min-width: 340px){
.form-planned-dive .form-body .inputs select {
    font-size: 1.5vh;
    height: 3vh;
  }
}

@media (min-width: 675px){
.form-planned-dive .form-body .inputs select {
    font-size: 1.8vh;
  }
}

@media (min-width: 966px){
.form-planned-dive .form-body .inputs select {
    font-size: 2.2vh;
  }
}

.form-planned-dive .form-body .inputs #profile-image-button {
  width: 15vw;
  height: 4vh;
  margin-left: 4vw;
  margin-top: 0.5vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.form-planned-dive .form-body .inputs #profile-image-button:hover {
  transition: all .1s ease;
  color: var(--accent-color);
  box-shadow: 0 0 0 0 var(--accent-color), 0 0 0 0.25vh var(--accent-color);
}

.form-planned-dive .form-planned-dive-validation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.form-planned-dive .form-planned-dive-validation #validate-planned-dive {
  width: 20vw;
  height: 7vh;
  margin-left: 20vw;
  margin-top: 0.5vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 2.5vh;
}

@media (max-width: 830px){
  .form-planned-dive .form-planned-dive-validation #validate-planned-dive {
    width: auto;
    height: 7vh;
    font-size: 2vh;
    font-weight: 500;
  }
}

.form-planned-dive .form-planned-dive-validation #validate-planned-dive:hover {
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}


/********************************************************************/
/*                      MODAL VOIR PLUS                             */
/********************************************************************/

.div-modal{
  width  : 95vw;
  /*height: 80vh;*/
  margin-top: 15vh;
  margin-left: 2.5vw;
  background : var(--bg-color);
  display: flex;
  flex-direction: column;
  border-radius: 3vw;
}

@media (min-width: 620px) {
  .div-modal{
    width  : 85vw;
    /*height: 80vh;*/
    margin-top: 15vh;
    margin-left: 7.5vw;
  }
}

@media (min-width: 1200px) {
  .div-modal{
    width  : 70vw;
    /*height: 80vh;*/
    margin-top: 15vh;
    margin-left: 15vw;
  }
}

.div-modal .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding-left: 2vw;
}

.div-modal .title h1 {
  font-size: 3em;
  margin-left: 2vw;
}

@media (max-width: 790px){
  .div-modal .title h1 {
    font-size: 1.2rem;
  }
}

.div-modal .title span {
  font-size: 3.5vh;
  margin-right: 2.5vw;
}

.div-modal .title span:hover {
  cursor: pointer;
}

.div-modal .form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 70vw;
}

.div-modal .form-body .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 60vh;
  width: 30vw;
  margin-right: 2.5vw;
}

.div-modal .form-body .labels label {
  font-size: 2.5vh;
  height: 5vh;
  padding-top: 0.5vh;
}

.div-modal .form-body .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 30vw;
  margin: 0 2.5vw;
}

.div-modal .form-body .inputs input[type=text] {
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  padding-left: 1vw;
  font-size: 2vh;
}

.div-modal .form-body .inputs input[type="date"]{
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.div-modal .form-body .inputs input[type="time"]{
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.div-modal .form-body .inputs select{
  background-color: white;
  width: 25.3vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.div-modal .modal-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /*height: 60vh;*/
}

.div-modal .modal-body .modal-body-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 47.5vw;
}


.div-modal .modal-body .modal-body-left .modal-site-name {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5vh solid var(--secondary-color);
  text-align: center;
  height: min-content;
  max-width: 33vw;
  max-height: 20vh;
  margin-bottom: 3vh;
}

@media screen and (min-width: 320px) {
  .div-modal .modal-body .modal-body-left .modal-site-name {
    font-size: calc(15px + 20 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .div-modal .modal-body .modal-body-left .modal-site-name {
    font-size: 35px;
  }
}

.div-modal .modal-body .modal-body-left .modal-price {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 0.5vh solid var(--secondary-color);
  width: 32vw;
  border-radius: 1.5vh;
}

@media (min-aspect-ratio: 1/1) {
  .div-modal .modal-body .modal-body-left .modal-price {
    flex-direction: row;
  }
}

.div-modal .modal-body .modal-body-left .modal-price p {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
}

@media (min-width: 1200px) {
  .div-modal .modal-body .modal-body-left .modal-price p {
    font-size: 2em;
  }
}

.div-modal .modal-body .modal-body-left .modal-text-zones {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: baseline;
  border: 0.5vh solid var(--secondary-color);
  width: 32vw;
  max-height: 32vh;
  background: #FFF88D;
  margin-top: 2vh;
  border-radius: 1.5vh;
}

.div-modal .modal-body .modal-body-left .modal-text-zones .title {
  font-size: 2vh;
  font-weight: bold;
  text-align: center;
  width: 16vw;
  margin-top: 1vh;
  height: 3vh;
  border-bottom: 0.5vh solid var(--secondary-color);
}

@media screen and (min-width: 320px) {
  .div-modal .modal-body .modal-body-left .modal-text-zones .title {
    font-size: calc(10px + 15 * ((100vw - 320px) / 1380));
  }
}

@media screen and (min-width: 1700px) {
  .div-modal .modal-body .modal-body-left .modal-text-zones .title {
    font-size: 25px;
  }
}

.div-modal .modal-body .modal-body-left .modal-text-zones .text {
  font-size: 2vh;
  margin-top: 1vh;
  padding-left: 0.5vw;
} 

@media screen and (min-width: 320px) {
  .div-modal .modal-body .modal-body-left .modal-text-zones .text {
    font-size: calc(5px + 15 * ((100vw - 320px) / 1380));
  }
}

@media screen and (min-width: 1700px) {
  .div-modal .modal-body .modal-body-left .modal-text-zones .text {
    font-size: 20px;
  }
}

.div-modal .modal-body .modal-body-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 47.5vw;
  height: 60vh;
}

/*

@media (min-width: 620px) {
  .div-modal .modal-body .modal-body-right {
    width  : 42.5vw;
  }
}

@media (min-width: 1200px) {
  .div-modal .modal-body .modal-body-right {
    width  : 35vw;
  }
}

*/

@media (min-width: 620px) {
  .div-modal .modal-body .modal-body-left, .div-modal .modal-body .modal-body-right {
    width  : 42.5vw;
  }
}

@media (min-width: 1200px) {
  .div-modal .modal-body .modal-body-left, .div-modal .modal-body .modal-body-right {
    width  : 35vw;
  }
}

@media (max-aspect-ratio: 3/4) {
  .div-modal .modal-body .modal-body-left, .div-modal .modal-body .modal-body-right {
    height: 52vh;
  }
}


@media (max-aspect-ratio: 1/2) {
  .div-modal .modal-body .modal-body-left, .div-modal .modal-body .modal-body-right {
    height: 45vh;
  }
}


.div-modal .modal-body .modal-body-right .modal-dive-time {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 25vw;
  height: 25vw;
  max-width: 25vh;
  max-height: 25vh;
  border-radius: 3vh;
  border: solid var(--secondary-color);
  background: white;
}

@media screen and (min-width: 320px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time{
    border-width: calc(5px + 10 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time{
    border-width: 15px;
  }
} 

.div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-month {
  height: 5vw;
  max-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.4vh solid var(--secondary-color);
}

@media screen and (min-width: 320px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-month {
    font-size: calc(5px + 30 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-month {
    font-size: 35px;
  }
} 

.div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-day-and-time {
  display: flex;
  flex-direction: column;
  height: 20vw;
  max-height: 20vh;
}

.div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-day-and-time #date-pd-day{
  display: flex;
  height: 15vw;
  max-height: 15vh;
  align-items: center;
  justify-content: center;
  color: red;
}

@media screen and (min-width: 320px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-day-and-time #date-pd-day{
    font-size: calc(50px + 80 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-day-and-time #date-pd-day{
    font-size: 130px;
  }
}

.div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-day-and-time #time-pd{
  display: flex;
  height: 5vw;
  max-height: 5vh;
  align-items: center;
  justify-content: center;
  border-top: 0.35vh solid var(--secondary-color);
}

@media screen and (min-width: 320px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-day-and-time #time-pd{
    font-size: calc(13px + 30 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .div-modal .modal-body .modal-body-right .modal-dive-time .modal-dive-day-and-time #time-pd{
    font-size: 43px;
  }
} 

.div-modal .modal-body .modal-body-right .modal-diver-list {
  display: flex;
  height: 30vh;
  overflow-y: scroll;
  border: 0.5vh solid var(--secondary-color);
}

.div-modal .modal-body .modal-body-right .modal-diver-list .blueTable {
  width: 30vw;
}

.div-modal .modal-body .modal-body-right .modal-diver-list .blueTable thead {
  position: initial;
}

.div-modal .modal-inscription-planned-dive {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

.div-modal .modal-inscription-planned-dive button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 0vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: calc(10px + 15 * ((100vw - 320px) / 680));
  width: 20vw;
}

@media screen and (min-width: 320px) {
  .div-modal .modal-inscription-planned-dive button {
    font-size: calc(10px + 15 * ((100vw - 320px) / 680));
  }
}

@media screen and (min-width: 1000px) {
  .div-modal .modal-inscription-planned-dive button {
    font-size: 25px;
  }
} 

@media (min-width: 620px) {
  .div-modal .modal-inscription-planned-dive button {
    width  : 17vw;
  }
}

@media (min-width: 1200px) {
  .div-modal .modal-inscription-planned-dive button {
    width  : 13vw;
  }
}


/********************************************************************/
/*               MODAL FORMULAIRE INSCRIPTION                       */
/********************************************************************/

.div-modal-inscrire{
  width : 60vw;
  height: 50vh;
  background : var(--bg-color);
  display: flex;
  flex-direction: column;
  margin-top: 30vh;
  margin-left: 20vw;
  border-radius: 3vw;
}

.div-modal-inscrire .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding-left: 2vw;
}

.div-modal-inscrire .title h1 {
  font-size: 3.5vh;
  margin-left: 2vw;
}

.div-modal-inscrire .title span {
  font-size: 3.5vh;
  margin-right: 2.5vw;
}

.div-modal-inscrire .title span:hover {
  cursor: pointer;
}

.div-modal-inscrire .form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35vh;
  width: 55vw;
}

.div-modal-inscrire .form-body .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 20vh;
  width: 30vw;
  margin-right: 2.5vw;
}

.div-modal-inscrire .form-body .labels label {
  font-size: 2.5vh;
  height: 5vh;
  padding-top: 0.5vh;
}

.div-modal-inscrire .form-body .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
  width: 30vw;
  margin: 0 2.5vw;
}

.div-modal-inscrire .form-body .inputs input[type=text] {
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.div-modal-inscrire .form-body .inputs select{
  background-color: white;
  width: 25.3vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size : 2vh;
}

.div-modal-inscrire .form-diver-registration-validation #inscription-planned-dive-modal{
  width: 10vw;
  height: 5vh;
  margin-left: 25vw;
  margin-bottom: 2vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 500;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 2.5vh;
}

.div-modal-inscrire .form-diver-registration-validation #inscription-planned-dive-modal:hover {
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}


/********************************************************************/
/*                          SEARCH BAR                              */
/********************************************************************/

.input-search {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: auto;
  height: 5vh;
  justify-content: center;
}

@media (max-width: 62.5rem) {
  .input-search {
    padding-top: 4vh;
    font-size: 0.6rem;
  }

  .checkbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    padding-left: 5vw;
    padding-top: 1vh;
    width: auto;
  }
}

@media (min-width: 62.5rem) {
  .input-search {
    padding-top: 16vh;
    font-size: 1rem;
  }

  .checkbox-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5vh;
    padding-left: 2vw;
    padding-top: 0.5vh;
    width: 5vw;
  }
}

@media (max-width: 62.5rem) {
  .input-search input[type=text] {
    margin-left: 1vw;
    width: 20vw;
    height: 5vh;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 0.7rem;
  }
}

@media (min-width: 62.5rem) {
  .input-search input[type=text] {
    margin-left: 1vw;
    width: 30vw;
    height: 5vh;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 1rem;
  }
}

.search-icon{
  margin-top: 2.7vh ;
}

.checkbox-container input[type=checkbox]{
  cursor: pointer;
}

.sort-date{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 5vh;
  margin-left: 3vw;
  padding-top: 0.5vh;
  width: auto;
  color: var(--text-color);
  cursor: pointer;
  user-select: none;
}

.sort-date:hover{
  border-bottom: solid 2px var(--text-color);
}

/* Tableau */

.blueTable {
    border: 0.1vh solid var(--text-color);
    background-color: rgb(229, 233, 245);
    width: 95%;
    text-align: left;
    border-collapse: collapse;
  }

  .blueTable input {
    width: 3.5em;
  }

  .blueTable .commentInput {
    width: 4.5em;
    resize: none;
    padding: 0;
    height: 1.7em;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
  }

  .blueTable .commentInput:focus {
    outline: none;
    min-height: -webkit-fill-available;
    min-width: -webkit-fill-available;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
  }
  
  .blueTable td, table.blueTable th {
    border: 0.1vh solid #cfe0ee;
    padding: 0.3vh 0.2vh;
  }
  
  .blueTable tbody td {
    font-size: 1.2em;
    text-align: center;
    position: relative;
  }

  .blueTable tbody tr {
    height: 3.2em;
  }
  
  .blueTable tbody tr:nth-child(even) {
    background: #edf0f3;
  }
  
  .blueTable thead {
    text-align: center;
    background: var(--text-color);
    background: -moz-linear-gradient(top, #383274 0%, #241d61 66%, #140D4F 100%);
    background: -webkit-linear-gradient(top,#383274 0%, #241d61 66%, #140D4F 100%);
    background: linear-gradient(to bottom, #383274 0%, #241d61 66%, #140D4F 100%);
    border-bottom: 0.2vh solid #444444;
    font-size: 1.3em;
  }

  .blueTable thead .whiteTr {
    background: #edf0f3;
  }
  
  .blueTable thead tr {
    font-weight: bold;
    color: #FFFFFF;
    border-left: 0.2vh solid #D0E4F5;
    min-width: 2em;
    position: relative;
  }
  
  .blueTable thead th:first-child {
    border-left: none;
  }

  .blueTable thead input[type="time"]{
    width: 5em;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 0.8vw;
  }

  .blueTable input[type="text"]{
    width: 5em;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 0.8vw;
  }

  .blueTable input[type="number"]{
    text-align: center;
    border-radius: 1vh;
    border: 0.2vh solid var(--accent-color);
    font-size: 0.8vw;
  }
  
  .blueTable tfoot {
    font-size: 0.1vh;
    font-weight: bold;
    color: #FFFFFF;
    background: #D0E4F5;
    background: -moz-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: -webkit-linear-gradient(top, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    background: linear-gradient(to bottom, #dcebf7 0%, #d4e6f6 66%, #D0E4F5 100%);
    border-top: 0.2vh solid #444444;
  }
  
  .blueTable tfoot td {
    font-size: 1.4vh;
  }
  
  .blueTable tfoot .links {
    text-align: right;
  }
  
  .blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 0.2vh 0.8vh;
    border-radius: 0.5vh;
  }