/********************************************************************/
/*                         CARDS CREATION                           */
/********************************************************************/

.container {
    margin-top: 20vh;
}

@media (max-width: 670px) {
  .container {
    margin-top: 13vh;
  }
}

body{
    color: #1a202c;
    text-align: left;   
    display: flex;
    flex-direction: column; 
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: 2rem;
}

@media (max-width: 1000px) {
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    margin: 0 10vw 10vh 10vw;
  }
}

@media (min-width: 1000px) {
  .card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
    margin: 0 20vw 10vh 20vw;
  }
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
    text-align: center;
    border: solid;
    border-radius: 2rem;
    border-color: var(main-color);
    background-color: rgb(219, 252, 255, 0.25);
}

.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}


/*******************************************************************/
/*                         POSITIONNING                            */
/*******************************************************************/

.profile_header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.profile_group_info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.profile-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile-right{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.profile_info_title {
    font-size: 2.5vh;
    font-weight: bold;
    color: var(--text-color);
}

.row {
    padding-top: 4vh;
}

.profile_info_name {
    font-size: 3.5vh;
    font-weight: bold;
    color: var(--text-color);
    padding-top: 1.9vh;
}


/***********************************************************************/
/*                       MODAL CHANGE PROFILE                          */
/***********************************************************************/

@media (max-width: 62.5rem) {
  #open-site-modal-profile {
    width: auto;
    height: 5vw;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 400;
    border-radius: 1.5vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 0.7rem;
  }
}

@media (min-width: 62.5rem) {
  #open-site-modal-profile {
    left: 85vw;
    top: 22vh;
    width: 12vw;
    height: 3vw;
    display: inline-block;
    outline: none;
    cursor: pointer;
    font-weight: 600;
    border-radius: 2.5vh;
    border: 0;
    color: #fff;
    background: var(--secondary-color);
    line-height: 1.15;
    font-size: 0.9vw;
  }
}
  
#open-site-modal-profile:hover {
    transition: all .1s ease;
    color: var(--text-color);
    background: var(--accent-color);
    box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}

.form-profile{
    width  : 70vw;
    height: 80vh;
    background : var(--bg-color);
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-left: 15vw;
    border-radius: 3vw;
}

.form-profile .title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding-left: 2vw;
}

.form-profile .title h1 {
  font-size: 3.5vh;
  margin-left: 2vw;
}

.form-profile .title span {
  font-size: 3.5vh;
  margin-right: 2.5vw;
}

.form-profile .title span:hover {
  cursor: pointer;
}


.form-profile .form-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60vh;
  width: 70vw;
}

.form-profile .form-body .labels {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
  height: 60vh;
  width: 30vw;
  margin-right: 2.5vw;
}

.form-profile .form-body .labels label {
  font-size: 2.5vh;
  height: 5vh;
  padding-top: 0.5vh;
}

.form-profile .form-body .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 60vh;
  width: 30vw;
  margin: 0 2.5vw;
}

.form-profile .form-body .inputs input[type=text] {
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.form-profile .form-body .inputs input[type="date"]{
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.form-profile .form-body .inputs input[type="time"]{
  width: 25vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.form-profile .form-body .inputs select{
  background-color: white;
  width: 25.3vw;
  height: 5vh;
  border-radius: 1vh;
  border: 0.2vh solid var(--accent-color);
  font-size: 2vh;
}

.form-profile .form-body .inputs #profile-image-button {
  width: 15vw;
  height: 4vh;
  margin-left: 4vw;
  margin-top: 0.5vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.form-profile .form-body .inputs #profile-image-button:hover {
  transition: all .1s ease;
  color: var(--accent-color);
  box-shadow: 0 0 0 0 var(--accent-color), 0 0 0 0.25vh var(--accent-color);
}

.form-profile .form-profile-validation {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 10vh;
}

.form-profile .form-profile-validation #validate-profile {
  width: 25vw;
  height: 7vh;
  margin-left: 22.5vw;
  margin-top: 0.5vh;
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  border-radius: 1vh;
  padding: 1.3vh 2.5vw;
  border: 0;
  color: #fff;
  background: var(--secondary-color);
  line-height: 1.15;
  font-size: 1.5vh;
}

.form-profile .form-profile-validation #validate-profile:hover{
  transition: all .1s ease;
  color: var(--text-color);
  background: var(--accent-color);
  box-shadow: 0 0 0 0 var(--text-color), 0 0 0 0.3vh var(--text-color);
}